.container {
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    padding: 40px 0px 30px 0px;
    width:400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

input[type="text"],
textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    font-size: 18px;
}

select {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="none" stroke="%23666" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7l3-3 3 3m0 6l-3 3-3-3"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    cursor: pointer;
    font-size: 18px;
}

button {
    width: 200px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}


body {
    font-size: 16px;
}

h1 {
    font-size: 28px;
}

#testTitle {
    font-size: 18px;
}


#title{
    font-size: 40px;
    font-weight: bold;
}